.navbar {
    width: auto;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin-left: 25%;

    
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position:relative;
}
.navbar ul li  {
    text-decoration: none;
    color: rgb(12, 12, 12);
    /* text-transform: uppercase; */
}
.link{
    text-decoration: none;
    color: rgb(12, 12, 12);
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ff5d06;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}
